<a href="https://colab.research.google.com/github/GSouzzaDev/ARCO-DE-TREINAMENTO-2024.1-PYTHON-EBAC.-/blob/main/Extraindo%20inteiros%20e%20decimais%20da%20string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variável ano. Imprima os valores na tela.

noticia = 'Selic vai a 2,75% e supera expectativas; ' + \ 'é a primeira alta em 6 anos.'

In [10]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'

posicao_final = noticia.find('%')

posicao_inical = noticia.rfind(' ', 0, posicao_final) + 1

selic = noticia[posicao_inical:posicao_final]

print(selic)

ano = noticia[noticia.find("em")+3]

print(ano)

2,75
6